@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #a2e8dd;
}
/* -----------main index ------------- */
main h1 {
  margin-bottom: 0;
  text-align: center;
  background-color: #001524;
}
main .intro-section {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/modern-building_OYOH5FJMJ7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
main .intro-section .ingresaoregistrate {
  height: 30px;
  background-color: #a2e8dd;
  text-decoration: solid;
  text-align: center;
  text-decoration: underline;
  font-size: large;
}
main .intro-section h2 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
}
main .intro-section .misdisenos {
  padding: 10px;
  font-size: 2rem;
  text-decoration: underline;
}
main .intro-section .muestras1 {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 600px;
}
main .intro-section .muestras1 .muestra {
  margin: 10px;
  height: 100px;
  width: 200px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  transition: 0.5s ease;
}
main .intro-section .muestras1 .muestra:hover {
  cursor: crosshair;
  width: 300px;
  filter: contrast(120%);
}
main .intro-section .otrosdisenos {
  padding: 10px;
  font-size: 2rem;
  text-decoration: underline;
}
main .intro-section .muestras2 {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 600px;
}
main .intro-section .muestras2 img {
  margin: 10px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  transition: 0.5s ease;
}
main .intro-section .muestras2 img:hover {
  cursor: crosshair;
  width: 300px;
  filter: contrast(120%);
}
main .intro-section span a {
  margin-left: 30px;
}
main .intro-section span a .btn {
  padding: 20px 40px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: orange;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  position: relative;
}
main .intro-section span .btn:before {
  content: "Ver más";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
}
main .intro-section span .btn:hover:before,
main .intro-section span .btn:hover:after {
  transform: rotatex(0);
}
main .intro-section span .btn:after {
  content: "Ver más";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  transition-delay: 0.25s;
}
main .intro-section h3 {
  text-align: center;
  color: black;
  text-decoration: underline;
}
main .intro-section .playstore {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .intro-section .playstore img {
  height: 10rem;
}
main .intro-section .appstore {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
main .intro-section .appstore img {
  height: 10rem;
}

/*-----------main catalogo---------- */
main h1 {
  background-color: #001524;
  font-size: 4rem;
  background: linear-gradient(90deg, #c2aff0, grey, #a2e8dd) 0 0/400% 100%;
  animation: move-bg 4s infinite linear;
  color: transparent;
  -webkit-background-clip: text;
}
@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}
main .contenedor-catalogo {
  align-items: center;
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/building-balconies_0WLRIRVMAA.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
}
main .contenedor-catalogo .contenedor-disenos h2 {
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}
main .contenedor-catalogo .contenedor-disenos .mis-disenos {
  place-items: center;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 170px 170px 170px 170px 170px 170px;
  grid-template-columns: 300px 300px;
}
main .contenedor-catalogo .contenedor-disenos .mis-disenos .diseno-muestra {
  justify-content: center;
  width: 200px;
  height: 100px;
}
main .contenedor-catalogo .contenedor-disenos .mis-disenos .diseno-muestra img {
  width: 200px;
  height: 100px;
  align-items: center;
}
main .contenedor-catalogo .contenedor-disenos .mis-disenos .diseno-muestra img:hover {
  cursor: crosshair;
  width: 250px;
  filter: contrast(120%);
}
main .contenedor-catalogo .contenedor-comunidad .comunidad h2 {
  text-align: center;
  text-decoration: underline;
}
main .contenedor-catalogo .contenedor-comunidad .disenos-ajenos .disenos-muestras-ajenos {
  place-items: center;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 170px 170px 170px 170px 170px 170px;
  grid-template-columns: 300px 300px;
}
main .contenedor-catalogo .contenedor-comunidad .disenos-ajenos .disenos-muestras-ajenos .diseños-muestra img {
  width: 200px;
  height: 100px;
  align-items: center;
}
main .contenedor-catalogo .contenedor-comunidad .disenos-ajenos .disenos-muestras-ajenos .diseños-muestra img:hover {
  cursor: crosshair;
  width: 250px;
  filter: contrast(120%);
}

/*-----------main contacto---------- */
main .formulario {
  display: flex;
  padding: 80px;
  text-align: center;
  justify-content: center;
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/skyscaper-office%20building_1HZVBKVAUM.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
main .formulario .envianostuconsulta {
  font-size: 3rem;
  margin: 20px;
  padding: 10px;
  color: blueviolet;
  background-color: #001524;
}
main .formulario .fieldset {
  padding: 5px;
}
main .formulario .fieldset div .nombre {
  font-size: 30px;
  text-decoration: underline;
  margin: 10px;
}
main .formulario .fieldset div .apellido {
  font-size: 30px;
  text-decoration: underline;
  margin: 10px;
}
main .formulario .fieldset div .email {
  font-size: 30px;
  text-decoration: underline;
  margin: 10px;
}
main .formulario .fieldset div .consulta p {
  font-size: 30px;
}
main .formulario .fieldset div .textoconsulta {
  width: 600px;
  height: 200px;
}
main .formulario .fieldset div .aceptaterminos {
  font-size: 25px;
  text-decoration: underline;
}
main .formulario .fieldset div .enviar {
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 5px;
  font-size: 20px;
}
main .formulario .fieldset div .borrar {
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 5px;
  font-size: 20px;
}

/*-----------main diseñadores---------- */
main .mas-puntaje {
  margin-bottom: 0;
  text-align: center;
  color: #c2aff0;
  background-color: #001524;
}
main .aqui-encontraras {
  text-align: center;
  color: #c2aff0;
  background-color: #001524;
  justify-content: center;
  text-decoration: underline;
  font-size: 30px;
  margin-bottom: -16px;
}
main .avatar-diseñadores {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/building-balconies_NQLPZWWXAG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
}
main .avatar-diseñadores .card {
  color: white;
  background-image: url(https://www.w3schools.com/w3images/avatar2.png);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 280px;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
}
main .avatar-diseñadores .card .card-content {
  padding: 1.5rem;
  background: linear-gradient(black, rgba(0, 0, 0, 0.5));
}
main .avatar-diseñadores .card .card-content .card-content__title {
  text-decoration: underline;
  text-decoration-color: lightgray;
}
main .avatar-diseñadores .card .card-content .card-content__body {
  color: rgba(255, 255, 255, 0.8);
}
main .avatar-diseñadores .card .card-content .button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 0.2rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
}
main .avatar-diseñadores .card .card-content .button:hover,
main .avatar-diseñadores .card .card-content .button:focus {
  background-color: white;
  color: black;
}

/*-----------main ingresa---------- */
main .fotodefondo .ingresa fieldset .formulario-pag-ingresa {
  padding: 50px;
  text-align: center;
  justify-content: center;
}
main .fotodefondo .ingresa fieldset div h2 {
  margin: 20px;
  padding: 10px;
  color: #c2aff0;
  background-color: #001524;
}
main .fotodefondo .ingresa fieldset div .usuario {
  font-size: 30px;
  text-decoration: underline;
  margin: 10px;
}
main .fotodefondo .ingresa fieldset div .contraseña {
  font-size: 30px;
  text-decoration: underline;
  margin: 10px;
}
main .fotodefondo .ingresa fieldset .botoningresa {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 5px;
  font-size: 20px;
}
main .fotodefondo .ingresa .formulario-ingreso {
  padding: 60px;
  text-align: center;
}
main .fotodefondo .ingresa .formulario-ingreso h2 {
  margin: 20px;
  padding: 10px;
  color: #c2aff0;
  background-color: #001524;
}
main .fotodefondo .ingresa .formulario-ingreso div .nombredeusuario {
  font-size: 30px;
  text-decoration: underline;
  margin: 10px;
}
main .fotodefondo .ingresa .formulario-ingreso div .nombrecreatucuenta {
  font-size: 30px;
  text-decoration: underline;
  margin: 10px;
}
main .fotodefondo .ingresa .formulario-ingreso div .apellidocreatucuenta {
  font-size: 30px;
  text-decoration: underline;
  margin: 10px;
}
main .fotodefondo .ingresa .formulario-ingreso div .emailcreatucuenta {
  font-size: 30px;
  text-decoration: underline;
  margin: 10px;
}
main .fotodefondo .ingresa .formulario-ingreso div .contraseñacreatucuenta {
  font-size: 30px;
  text-decoration: underline;
  margin: 10px;
}
main .fotodefondo .ingresa .formulario-ingreso .botoncreatucuenta {
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: 10px;
  padding: 5px;
  font-size: 20px;
}

.bodyingresa {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/modern-city_ZDAOHZ0HIY.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

footer {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  color: #a2e8dd;
  background-color: #001524;
  font-family: Impact, Haettenschweiler, "cursive", sans-serif;
}
footer .encontranos {
  text-decoration: underline;
}
footer .icono-redes .mai {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
footer .icono-redes .up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
footer .icono-redes .down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
footer .icono-redes .card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}
footer .icono-redes .instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}
footer .icono-redes .card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}
footer .icono-redes .twitter {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #03a9f4;
}
footer .icono-redes .card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}
footer .icono-redes .github {
  margin-top: -0.6em;
  margin-left: 1.2em;
}
footer .icono-redes .card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}
footer .icono-redes .discord {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}
footer .icono-redes .card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}
footer .icono-redes .card1:hover .instagram {
  fill: white;
}
footer .icono-redes .card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
}
footer .icono-redes .card2:hover .twitter {
  fill: white;
}
footer .icono-redes .card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}
footer .icono-redes .card3:hover .github {
  fill: white;
}
footer .icono-redes .card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}
footer .icono-redes .card4:hover .discord {
  fill: white;
}

@media screen and (max-width: 1200px) {
  .contenedor-catalogo {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .contenedor-diseños {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .muestras1 {
    flex-direction: column;
  }
  .muestras2 {
    flex-direction: column;
  }
  .muestras1 {
    width: 350px;
  }
  .muestras2 {
    width: 350px;
  }
}
@media screen and (max-width: 790px) {
  .envianostuconsulta {
    width: fit-content;
  }
}
@media screen and (max-width: 600px) {
  .diseño-muestra {
    display: grid;
  }
  main .formulario fieldset .consulta .textoconsulta {
    width: 50%;
    height: 50%;
  }
  main .intro-section .muestras1 {
    width: 20%;
  }
  main .intro-section .muestras2 {
    width: 20%;
  }
}
@media screen and (max-width: 425px) {
  footer {
    height: 150px;
    flex-direction: column;
  }
}
@media (hover) {
  .card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .card:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }
}

/*# sourceMappingURL=estilos.css.map */
