@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,100&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------------------- header -----------------*/

header {
  background-color: #a2e8dd;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #001524;
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
}
/* -------------body----------- */

.body {
  font-family: "Roboto", sans-serif;
}

.boton1 {
  width: 100px;
}
.boton2 {
  width: 100px;
}
/* --------------------main--------------------- */

.intro-section {
  background-color: #a2e8dd;
}

.second-section {
  background-color: #a2e8dd;
}

.main {
  margin: 0;
}

h1 {
  text-align: center;
  background-color: #c2aff0;
  color: rgb(255, 255, 255);
}
.misdisenos {
  padding: 10px;
  font-size: 2rem;
  text-decoration: underline;
}
.otrosdisenos {
  padding: 10px;
  font-size: 2rem;
  text-decoration: underline;
}

h2 {
  font-size: 3rem;
  padding: 1rem;
}
h3 {
  font-size: 2.5rem;
}

.clase2 {
  text-align: center;
  background-color: #001524;
  color: blueviolet;
  text-transform: uppercase;
  padding: 0px;
}

.main section p {
  text-transform: uppercase;
}

.iconoplaystore {
  width: 7rem;
}
.iconoappstore {
  width: 7rem;
}

.second-section {
  text-align: center;
  padding: 5rem;
}

.muestras1 {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 600px;
}

.muestras1 img {
  margin: 10px;
  height: 100px;
  width: 200px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  transition: 0.5s ease;
}

.muestras1 img:hover {
  cursor: crosshair;
  width: 300px;
  filter: contrast(120%);
}

.muestras2 {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 600px;
}

.muestras2 img {
  margin: 10px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  transition: 0.5s ease;
}

.muestras2 img:hover {
  cursor: crosshair;
  width: 300px;
  filter: contrast(120%);
}

/* -----------------footer---------------- */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  color: #a2e8dd;
  background-color: #001524;
  font-family: Impact, Haettenschweiler, "cursive", sans-serif;
}

.icono-redes {
  align-items: center;
}

footer .icono-redes a img {
  width: 40px;
}

/* ------------------------PAGINA DEL CONTACTO----------------------------- */
.contacto {
  font-size: 3rem;
}

.formulario {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #c2aff0;
}

.envianostuconsulta {
  font-size: 3rem;
  padding: 10px;
  color: blueviolet;
  background-color: #001524;
}
fieldset {
  margin: 5px;
  padding: 5px;
}

/* ------------------pagina de catalogo------------------- */
.mis-diseños {
  display: grid;
  grid-template-rows: 170px 170px 170px 170px 170px 170px;
  grid-template-columns: 300px 300px;
}

.diseño-muestra img {
  width: 200px;
  height: 100px;
}

.diseños-muestra-ajenos {
  display: grid;
  grid-template-rows: 170px 170px 170px 170px 170px 170px;
  grid-template-columns: 300px 300px;
}

.contenedor-catalogo {
  background-color: #c2aff0;
  display: flex;
  justify-content: space-around;
}

.mis-diseños img:hover {
  cursor: crosshair;
  width: 250px;
  filter: contrast(120%);
}

.diseños-muestra-ajenos img:hover {
  cursor: crosshair;
  width: 250px;
  filter: contrast(120%);
}
/* --------pagina de ingreso---------- */

.formulario-pag-ingresa {
  height: 50px;
  background-color: #c2aff0;
  text-align: center;
  justify-content: center;
}

.formulario-ingreso {
  background-color: #c2aff0;
  text-align: center;
  justify-content: center;
}

/* ---------pagina de diseñadores------------ */

.avatar-diseñadores {
  background-color: #a2e8dd;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
}

.avatar-diseñadores div {
  align-items: center;
  text-align: center;
  width: 300px;
  height: 400px;
  background-color: #c2aff0;
  border-radius: 5%;
  padding: 8px;
  margin-bottom: 8px;
}

.mas-puntaje {
  text-align: center;
  background-color: #c2aff0;
}

.aqui-encontraras {
  background-color: #a2e8dd;
  justify-content: center;
  text-transform: capitalize;
  text-decoration: underline;
}

.card-body img {
  width: 100px;
}
/* ----------------------mediaq index------------------------- */

@media screen and (max-width: 600px) {
  .contenedor-catalogo {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .contenedor-diseños {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .muestras1 {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .muestras2 {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .muestras1 {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .muestras2 {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
}
