footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  color: #a2e8dd;
  background-color: #001524;
  font-family: Impact, Haettenschweiler, "cursive", sans-serif;
  .encontranos {
  }
  .icono-redes {
    align-items: center;
    a {
      img {
        width: 40px;
      }
    }
  }
}
