/* -----------main index ------------- */
main {
  h1 {
  }
  .intro-section {
    background-color: #a2e8dd;
    .clase2 {
      text-align: center;
      background-color: #001524;
      color: blueviolet;
      padding: 0px;
      p {
        text-transform: uppercase;
      }
    }
    h2 {
    }
    .misdisenos {
    }
    .muestras1 {
      img {
      }
    }
    .muestras2 {
      img {
      }
    }
    span {
      a {
        img {
          width: 100px;
        }
      }
    }
  }
  .second-section {
  }
}

/*-----------main catalogo---------- */

/*-----------main contacto---------- */

main {
  h1 {
  }
  .formulario {
    .envianostuconsulta {
    }
    .fieldset {
      div {
        .nombre {
        }
        .apellido {
        }
        .email {
        }
        .consulta {
          width: 200px;
          height: 100px;
        }
      }
    }
  }
}

/*-----------main diseñadores---------- */

/*-----------main ingresa---------- */
