/* -----------main index ------------- */
main {
  h1 {
    margin-bottom: 0;
    text-align: center;
    background-color: $titlesubtitle-bgcolor;
  }
  .intro-section {
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/modern-building_OYOH5FJMJ7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    .ingresaoregistrate {
      height: 30px;
      background-color: $secondary-color;
      text-decoration: solid;
      text-align: center;
      text-decoration: underline;
      font-size: large;
    }
    h2 {
      text-align: center;
      font-size: 3rem;
      padding: 1rem;
    }
    .misdisenos {
      padding: 10px;
      font-size: 2rem;
      text-decoration: underline;
    }
    .muestras1 {
      padding: 10px;
      display: flex;
      justify-content: center;
      width: 600px;
      .muestra {
        margin: 10px;
        height: 100px;
        width: 200px;
        flex-grow: 1;
        object-fit: cover;
        opacity: 8;
        transition: 0.5s ease;
        &:hover {
          cursor: crosshair;
          width: 300px;
          filter: contrast(120%);
        }
      }
    }
    .otrosdisenos {
      padding: 10px;
      font-size: 2rem;
      text-decoration: underline;
    }
    .muestras2 {
      padding: 10px;
      display: flex;
      justify-content: center;
      width: 600px;
      img {
        margin: 10px;
        flex-grow: 1;
        object-fit: cover;
        opacity: 8;
        transition: 0.5s ease;
        &:hover {
          cursor: crosshair;
          width: 300px;
          filter: contrast(120%);
        }
      }
    }
    span {
      a {
        margin-left: 30px;
        .btn {
          padding: 20px 40px;
          text-decoration: none;
          text-transform: uppercase;
          background-color: orange;
          color: white;
          font-size: 20px;
          letter-spacing: 2px;
          position: relative;
        }
      }
      .btn:before {
        content: "Ver más";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotateX(270deg);
        transform-origin: top;
        transition: all 0.5s;
      }
      .btn:hover:before,
      .btn:hover:after {
        transform: rotatex(0);
      }
      .btn:after {
        content: "Ver más";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotateX(270deg);
        transform-origin: top;
        transition: all 0.5s;
        transition-delay: 0.25s;
      }
    }
    h3 {
      text-align: center;
      color: black;
      text-decoration: underline;
    }
    .playstore {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 10rem;
      }
    }
    .appstore {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      img {
        height: 10rem;
      }
    }
  }
}

/*-----------main catalogo---------- */
main {
  h1 {
    background-color: $titlesubtitle-bgcolor;
    font-size: 4rem;
    background: linear-gradient(90deg, $primary-color, grey, $secondary-color) 0
      0 / 400% 100%;
    animation: move-bg 4s infinite linear;
    color: transparent;
    -webkit-background-clip: text;
  }

  @keyframes move-bg {
    to {
      background-position: 400% 0;
    }
  }
  .contenedor-catalogo {
    align-items: center;
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/building-balconies_0WLRIRVMAA.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    .contenedor-disenos {
      h2 {
        text-align: center;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
      }
      .mis-disenos {
        place-items: center;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-rows: 170px 170px 170px 170px 170px 170px;
        grid-template-columns: 300px 300px;
        .diseno-muestra {
          justify-content: center;
          width: 200px;
          height: 100px;
          img {
            width: 200px;
            height: 100px;
            align-items: center;
            &:hover {
              cursor: crosshair;
              width: 250px;
              filter: contrast(120%);
            }
          }
        }
      }
    }
    .contenedor-comunidad {
      .comunidad {
        h2 {
          text-align: center;
          text-decoration: underline;
        }
      }
      .disenos-ajenos {
        .disenos-muestras-ajenos {
          place-items: center;
          align-items: center;
          justify-content: center;
          display: grid;
          grid-template-rows: 170px 170px 170px 170px 170px 170px;
          grid-template-columns: 300px 300px;
          .diseños-muestra {
            img {
              width: 200px;
              height: 100px;
              align-items: center;
              &:hover {
                cursor: crosshair;
                width: 250px;
                filter: contrast(120%);
              }
            }
          }
        }
      }
    }
  }
}

/*-----------main contacto---------- */

main {
  h1 {
  }
  .formulario {
    display: flex;
    padding: 80px;
    text-align: center;
    justify-content: center;
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/skyscaper-office%20building_1HZVBKVAUM.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    .envianostuconsulta {
      font-size: 3rem;
      margin: 20px;
      padding: 10px;
      color: $text-font-color;
      background-color: $titlesubtitle-bgcolor;
    }
    .fieldset {
      padding: 5px;
      div {
        .nombre {
          font-size: 30px;
          text-decoration: underline;
          margin: 10px;
        }
        .apellido {
          font-size: 30px;
          text-decoration: underline;
          margin: 10px;
        }
        .email {
          font-size: 30px;
          text-decoration: underline;
          margin: 10px;
        }
        .consulta p {
          font-size: 30px;
        }
        .consulta img {
        }
        .textoconsulta {
          width: 600px;
          height: 200px;
        }
        .aceptaterminos {
          font-size: 25px;
          text-decoration: underline;
        }
        .enviar {
          margin-bottom: 20px;
          margin-right: 10px;
          padding: 5px;
          font-size: 20px;
        }
        .borrar {
          margin-bottom: 20px;
          margin-left: 10px;
          padding: 5px;
          font-size: 20px;
        }
      }
    }
  }
}

/*-----------main diseñadores---------- */

main {
  h1 {
  }
  .mas-puntaje {
    margin-bottom: 0;
    text-align: center;
    background-color: $secondary-color;
  }
  .aqui-encontraras {
    text-align: center;
    color: $primary-color;
    background-color: $titlesubtitle-bgcolor;
    justify-content: center;
    text-decoration: underline;
    font-size: 30px;
    margin-bottom: -16px;
    p {
    }
  }
  .avatar-diseñadores {
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/building-balconies_NQLPZWWXAG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    .card {
      color: white;
      background-image: url(https://www.w3schools.com/w3images/avatar2.png);
      background-size: cover;
      padding: 10rem 0 0;
      max-width: 280px;
      border-radius: 1rem;
      overflow: hidden;
      transition: transform 500ms ease;
      .card-content {
        padding: 1.5rem;
        background: linear-gradient(black, rgba(0, 0, 0, 0.5));
        .card-content__title {
          text-decoration: underline;
          text-decoration-color: lightgray;
        }
        .card-content__body {
          color: rgba(255, 255, 255, 0.8);
        }
        .button {
          cursor: pointer;
          display: inline-block;
          text-decoration: none;
          color: white;
          background-color: black;
          padding: 0.2rem 1rem;
          border-radius: 0.25rem;
          transition: all 0.5s ease;
        }
        .button:hover,
        .button:focus {
          background-color: white;
          color: black;
        }
      }
    }
  }
}

/*-----------main ingresa---------- */
main {
  h1 {
  }
  .fotodefondo {
    .ingresa {
      fieldset {
        .formulario-pag-ingresa {
          padding: 50px;
          text-align: center;
          justify-content: center;
        }
        div {
          h2 {
            margin: 20px;
            padding: 10px;
            color: #c2aff0;
            background-color: $titlesubtitle-bgcolor;
          }
          .usuario {
            font-size: 30px;
            text-decoration: underline;
            margin: 10px;
          }
        }
        div {
          .contraseña {
            font-size: 30px;
            text-decoration: underline;
            margin: 10px;
          }
        }
        .botoningresa {
          margin-top: 15px;
          margin-bottom: 20px;
          margin-right: 10px;
          padding: 5px;
          font-size: 20px;
        }
      }
      .formulario-ingreso {
        padding: 60px;
        text-align: center;
        h2 {
          margin: 20px;
          padding: 10px;
          color: #c2aff0;
          background-color: $titlesubtitle-bgcolor;
        }
        div {
          .nombredeusuario {
            font-size: 30px;
            text-decoration: underline;
            margin: 10px;
          }
        }
        div {
          .nombrecreatucuenta {
            font-size: 30px;
            text-decoration: underline;
            margin: 10px;
          }
        }
        div {
          .apellidocreatucuenta {
            font-size: 30px;
            text-decoration: underline;
            margin: 10px;
          }
        }
        div {
          .emailcreatucuenta {
            font-size: 30px;
            text-decoration: underline;
            margin: 10px;
          }
        }
        div {
          .contraseñacreatucuenta {
            font-size: 30px;
            text-decoration: underline;
            margin: 10px;
          }
        }
        .botoncreatucuenta {
          margin-top: 10px;
          margin-bottom: 40px;
          margin-right: 10px;
          padding: 5px;
          font-size: 20px;
        }
      }
    }
  }
}

.bodyingresa {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/modern-city_ZDAOHZ0HIY.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
