@media screen and (max-width: 1200px) {
  .header {
    width: fit-content;
  }
  .contenedor-catalogo {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .contenedor-diseños {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .muestras1 {
    flex-direction: column;
  }
  .muestras2 {
    flex-direction: column;
  }
  .muestras1 {
    width: 350px;
  }
  .muestras2 {
    width: 350px;
  }
}

@media screen and (max-width: 790px) {
  .envianostuconsulta {
    width: fit-content;
  }
  .ingresaoregistrate {
    margin-bottom: 50px;
    height: 200px;
    p {
    }
  }
  .h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 600px) {
  .contenedor-disenos {
    h2 {
      height: 50%;
      width: 50%;
    }
    .mis-disenos {
      display: grid;
      grid-template-rows: repeat(12, 1fr);
      grid-template-columns: repeat(1, 1fr);
      .diseno-muestra {
      }
    }
  }
  main .formulario fieldset .consulta .textoconsulta {
    width: 50%;
    height: 50%;
  }
  main .intro-section .muestras1 {
    width: 20%;
  }
  main .intro-section .muestras2 {
    width: 20%;
  }
}

@media screen and (max-width: 425px) {
  footer {
    height: 300px;
    flex-direction: column;
  }
  footer .icono-redes {
  }
}

@media (hover) {
  .card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .card:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }
}
